* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  background-color: #C4CAD0;
}

.container_style {
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 5px 20px 50px rgba(0, 0, 0, 0.5);
}

.text_input {
  margin-top: 20px;
}

.chat_feed {
  overflow: scroll;
  height: 550px;
  margin-top: 20px;
}

@media all and (max-width: 768px) {
  .container_style {
    margin-left: 30px;
    margin-right: 30px;
  }
}
